<% tickets = @service_engineer.tickets %>
<div class="col-sm-12">
  <h3> User Details </h3>
  <table class="table table-bordered">
    <tr>
      <td> Name </td>
      <td><%= @service_engineer.name %></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= @service_engineer.location %></td>
    </tr>
  </table>
</div>
<div class="col-sm-12">
  <h3>Tickets </h3>
  <% if tickets.present? %>
    <table class="table table-bordered">
      <thead>
        <th>ID</th>
        <th>Customer</th>
        <th>Location</th>
        <th>Allocation Slot Time </th>
        <th>Status</th>
      </thead>
      <tbody>
        <% tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.id %></td>
            <td><%= ticket.customer.name %></td>
            <td><%= ticket.customer.address %></td>
            <td><%= format_slot_time(ticket) %></td>
            <td><%= ticket.status.titleize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    No tickets assigned yet.
  <% end %>
</div>
<% if tickets.present? %>
  <div class="col-sm-2"></div>
  <div class="col-sm-8 center">
    <div class="custom-map">
      <div id="map" style='width: 100%; height: 800px;'></div>
    </div>
  </div>
<% end %>

<script>
  var polylines = <%=raw @hash %>
  var map = new GMaps({el: '#map', lat: polylines[0].lat, lng: polylines[0].lng})
    var i = 0;
    for(i; i < (polylines.length - 1) ; i += 1){
      map.drawRoute({
        origin: [polylines[i].lat, polylines[i].lng],
        destination: [polylines[i+1].lat, polylines[i+1].lng],
        travelMode: 'driving',
        strokeColor: '#131540',
        strokeOpacity: 0.6,
        strokeWeight: 6
      });
    }
    // Add markers
    var i = 0;
    for(i; i < polylines.length ; i += 1){
      var icon = ''
      if(polylines[i].picture == 'green'){
        icon = '<%= asset_url('grren_icon.png')%>'
      }else if(polylines[i].picture == 'blue'){
        icon = '<%= asset_url('blue.png')%>'
      }
      map.addMarker({
        lat: polylines[i].lat,
        lng: polylines[i].lng,
        icon: icon,
        infoWindow: {
          content: polylines[i].infowindow
        }
      });
    }
</script>
